/* #selector{
    background: linear-gradient(90deg,#00dbde,#fc00ff);
    font-size: 46px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 246px;
    margin-left: 90px;
    padding: 12px;
} */
